// Font Variables
$headline: 'Squada One';
$headline-fb: cursive;
$body: 'Allerta';
$body-fb: sans-serif;

$headline-font-size: 100px;


@import url('https://fonts.googleapis.com/css?family=Allerta|Squada+One');
